* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Alegreya Sans SC';
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-container,
header .nav-links,
header .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header nav {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

header nav .nav-links {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

header nav .nav-links .nav-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

header nav .nav-links .nav-link:hover {
  color: #666666;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header .cart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main {
  margin-bottom: 20px;
}

main .presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin: auto;
  min-height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .presentation .introduction {
  background: #cccccc;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

main .presentation .introduction .intro-text {
  font-size: 44px;
  font-weight: 500px;
  background: -webkit-gradient(linear, left top, right top, from(#666666), to(#cccccc));
  background: linear-gradient(to right, #666666, #cccccc);
}

main .presentation .introduction .intro-text h1,
main .presentation .introduction .intro-text p {
  text-align: center;
}

main .presentation .introduction .cta {
  background: white;
  padding: 50px 0px 0px 0px;
}

main .presentation .introduction .cta .cta-select {
  color: black;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-family: 'Alegreya Sans SC';
  font-size: 24px;
  border: none;
  margin-left: 25%;
  margin-top: 50px;
}

main .presentation .introduction .cta .cta-select:hover {
  background: -webkit-gradient(linear, left top, right top, from(black), to(#cccccc));
  background: linear-gradient(to right, black, #cccccc);
  color: white;
}

main .presentation .introduction .cta .cta-add {
  color: black;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-family: 'Alegreya Sans SC';
  font-size: 24px;
  border: none;
}

main .presentation .introduction .cta .cta-add:hover {
  background: -webkit-gradient(linear, right top, left top, from(black), to(#cccccc));
  background: linear-gradient(to left, black, #cccccc);
  color: white;
}

main .presentation .cover {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 600px;
}

main .presentation .cover img {
  height: 100%;
  -webkit-filter: drop-shadow(0px 5px 3px black);
          filter: drop-shadow(0px 5px 3px black);
  -webkit-animation: pic 5s ease-in-out;
          animation: pic 5s ease-in-out;
}

main .pic-beans {
  position: absolute;
  top: 70%;
  left: 31%;
  z-index: -1;
  height: 20%;
  -webkit-animation: drop 5s ease infinite;
          animation: drop 5s ease infinite;
}

@-webkit-keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes pic {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes pic {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

footer #footer .coffee-quote-footer {
  background: #ffe6cc;
}

footer #footer .coffee-quote-footer #coffee {
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  line-height: 36px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  header .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header .cart {
    display: none;
  }
  .presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .introduction {
    text-align: center;
    top: 50px;
    position: relative;
  }
  .introduction h1 {
    font-size: 30px;
  }
  .introduction p {
    font-size: 18px;
  }
  .cta {
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cta .cta-select {
    margin: 10px;
    left: -30px;
    position: relative;
  }
  .pic-beans {
    display: none;
  }
  .cover img {
    margin-top: 100px;
  }
}
/*# sourceMappingURL=style.css.map */